.homeLayout {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .lay-sidebar {
        position: relative;
        top: 0;
        left: 0;
        width: 255px;
        height: 100%;
        z-index: 1;
    }

    .lay-div {
        display: flex;
        flex-direction: column;
        width: calc(100% - 25.5rem);

        .head {
        }
    }
}