.formWrapper {
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 937px;
    height: max-content;
    margin: 50px 0px 50px 100px;

    .wrapperHead {
        display: flex;
        flex-direction: row;
        margin-left: 50px;

        .profileImg {
            width: 54px;
            height: 54px;
            margin-top: 15px;
            margin-bottom: 5px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50% 50%;
            }
        }

        .profileName {
            margin-left: 30px;
            display: flex;
            flex-direction: column;
            margin-top: 15px;

            p, h3{
                line-height: 10%;
            }
        }
    }

    .line {
        width: 100%;
        border: 1px solid #ECECEC;
    }

    .details {
        margin-left: 50px;
        margin-top: 50px;

        p {
            font-style: normal;
            font-weight: 600;
            font-size: 11px;
            line-height: 175%;
            text-transform: uppercase;
            color: #9D9D9D;
            width: 97px;
        }

        h4 {
            font-style: normal;
            font-weight: 400;
            font-size: 11.0177px;
            line-height: 165%;
            color: #494848;
        }

        .div {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            label {
                font-style: normal;
                font-weight: 600;
                max-width: 250px;
                margin-right: 20px;
                font-size: 11px;
                line-height: 165%;
                display: flex;
                align-items: center;
                text-align: center;
                text-transform: uppercase;
                color: #9D9D9D;
            }

            button {
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 2.6px 5.2px 2.6px 2.6px;
                gap: 2.6px;
                width: 53.3px;
                height: 16.2px;
                background: #F9FAFA;
                border: 0.65px solid #DFE4E8;
                border-radius: 2.6px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 7.8px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #F4BB15;
                margin-left: 15px;
                margin-top: 15px;
            }

            .div-sub1 {
                p {
                    text-transform: uppercase;
                }
                div {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    max-width: 600px;
                }
            }

            .div-sub2 {
                margin-left: 50px;
                div {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    max-width: 600px;
                }
            }
        }

        .detail{
            h3 {
                width: 200px;
            }
        .accDetails {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            .acc {
                display: flex;
                flex-direction: column;

                .acc-div {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;

                    p{
                        width: 150px;
                    }

                    .accountCard {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        margin-left: 40px;

                        input[type="checkbox"] {
                            accent-color:#F4BB15;
                            color: white;
                            }
    
                        h4 {
                            margin-left: 4px;
                        }
                    }
                }
                
            }
        }
    }

    .meansOfId {

        .meansOfId-div {
            width: 100%;
            height: 50vh;
            display: block;

            .div1 {
                display: block;
                width: 50%;
                height: 100%;
                float: left;
                border-right: 0.5px solid #E0E0E0;

                .proofOfId {
                    display: flex;
                    flex-direction: column;
                    margin-left: 100px;

                    h3 {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 11px;
                        line-height: 165%;
                        display: flex;
                        align-items: center;
                        color: #4A5466;
                    }
                    .id {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        margin-top: 15px;
                        .idcard {
                            box-sizing: border-box;
                            width: 61.7px;
                            height: 69.53px;
                            background: #FFFFFF;
                            border: 0.695259px solid #D5D5D5;
                            border-radius: 3.4763px;
                            margin: 5px;
                            cursor: pointer;

                            .card-sub {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-top: 30%;
                                flex-direction: column;
                                .idIcon {
                                    justify-content: center;
                                }
    
                                .Idtitle {
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 8.34311px;
                                    line-height: 11px;
                                    color: #616161;
                                }
                            }

                            
                        }
                    }

                    .cardInput{

                        input {
                            box-sizing: border-box;
                            position: absolute;
                            width: 279.32px;
                            height: 39.1px;
                            background: #FFFFFF;
                            border: 0.698301px solid #D5D5D5;
                            border-radius: 2.49393px;
                            padding: 8px;
                        }
                    }
                    
                    button {
                        margin-top: 50px;
                        width: 128px;
                        height: 33px;
                        background: #F4BB15;
                        border-radius: 4px;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 10px;
                        line-height: 165%;
                        display: block;
                        align-items: center;
                        text-align: center;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        border: none;
                    }
                }
            }

            .div2 {
                display: block;
                width: 50%;
                float: left;

                .div-check {
                    

                    .identity-check {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 24px;
                        color: #53C67A;
                    }

                    .identity-verify {
                        font-family: 'Manrope';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 11px;
                        line-height: 15px;
                        color: #53C67A;
                        text-align: center;
                        margin-top: 12px;
                    }

                    .verify-box {
                        box-sizing: border-box;
                        width: 396px;
                        height: 109px;
                        border: 1px solid #E0E0E0;
                        border-radius: 3px;
                        display: block;
                        margin: auto;
                        margin-left: 30px;
                        margin-top: 20px;

                        .verify {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            justify-content: space-evenly;

                            .verify-img {
                                width: 54px;
                                height: 54px;
                                margin-top: 27px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            .verify-div {
                                display: flex;
                                flex-direction: column;

                                span {
                                    display: flex;
                                    flex-direction: row;
                                    flex-wrap: nowrap;
                                    padding: 0;
                                    margin: 0;
                                    font-family: 'Manrope';
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 11px;
                                    line-height: 165%;
                                    display: flex;
                                    align-items: center;
                                    color: #4A5466;
                                    max-width: 140px;
                                    p {
                                        margin-left: 5px;
                                        font-size: 11px;
                                    }

                                    h4 {
                                        font-size: 11px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .mandate {

        .mandate-sub {
            width: 100%;
            display: flex;
            flex-direction: column;

            .mandate-div {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    margin: 12px 0;

                .mandateCard {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;

                    .mandateName {
                        font-family: 'Manrope';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 10px;
                        line-height: 165%;
                        display: flex;
                        align-items: center;
                        text-transform: uppercase;
                        color: #616161;
                        width: 123px;
                    }

                    .mandate-input {
                        margin-right: 63px;

                        input {
                        box-sizing: border-box;
                        height: 15px;
                        border: 0.5px solid #959595;
                        border-radius: 2px;
                        width: inherit;
                        }
                    }
                }
            }

            .uploadCard {
                display: flex;
                flex-direction: row;

                .p {
                    width: 123px;
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 10px;
                    line-height: 165%;
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    color: #616161;
                }

                .broken-lines {
                    box-sizing: border-box;
                    width: 183.68px;
                    height: 84px;
                    border: 1.568px dashed #E0E0E0;
                    border-radius: 6.72px;
                    margin-top: 30px;

                    .broken-lines-sub{
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        flex-direction: column;

                    button {
                        margin-top: 25px;
                        width: 77.77px;
                        height: 20.4px;
                        background: #F4BB15;
                        border-radius: 5.6px;
                        font-style: normal;
                        font-weight: 800;
                        font-size: 8.21251px;
                        line-height: 165%;
                        display: block;
                        align-items: center;
                        text-align: center;
                        color: #FFFFFF;
                        border: none;
                    }

                    h5 {
                        text-align: center;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 8.96px;
                        line-height: 165%;
                        display: flex;
                        align-items: center;
                        color: #B8B8B8;
                    }
                }
                }
            }
        }
    }

    .checklist {

        .check{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

            .checklist-sub, .checklist-sub1 {
                display: flex;
                flex-direction: column;

                .checklistCard {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    margin: 15px 0;

                    .checklist-icon {
                        font-size: 14px;
                        color: #F43131;
                    }

                    .words {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 165%;
                        display: flex;
                        align-items: center;
                        color: #616161;
                        margin-left: 6px;
                    }
                }
            }

            .checklist-sub {
                margin-left: 12px;
                margin-top: 5px;
            }

            .checklist-sub1 {
                margin-left: 75px;
                margin-top: 30px;
            }
        }
    }

    .review {

        .line1 {
            width: 699px;
            height: 0px;
            border: 0.7px solid #ECECEC;
            margin-top: 25px;
        }

        .reviewMeansOfId {
            display: flex;
            flex-direction: column;

            .reviewMeansOfId-sub {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;

                p {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 10px;
                    line-height: 165%;
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    color: #616161;
                }

                .nmic {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 10px;
                    line-height: 165%;
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    color: #9D9D9D;
                    margin: 0 46px 0 2px;
                }

                .identity-check {
                    color: #53C67A;
                    margin-left: 17px;
                    margin-top: 10px;
                }

                .identity-verify {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 11px;
                    line-height: 15px;
                    color: #53C67A;
                    margin-left: 10px;
                    margin-top: 10px;
                }
            }

            .passport {
                width: 96px;
                height: 115px;
                margin-top: 20px;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 15px;
                }

                .meansOfIdOpaque {
                    position: absolute;
                    width: 80px;
                    height: 80px;
                    background: #0A1F44;
                    opacity: 0.58;
                    margin-top: -100px;
                    margin-left: 7px;
                }

                .eagle {
                    position: absolute;
                    color: #FFFFFF;
                    margin-top: 50px;
                    margin-left: -55px;
                    font-size: 18px;
                }
            }
        }

        .cardPreference, .employmentDetails {
            display: flex;
            flex-direction: column;

            .cardPref-sub1, .empDetails {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;

                label {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 10px;
                    line-height: 165%;
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    color: #616161;
                    max-width: 250px;
                    margin-right: 20px;
                }

                .accountCard {
                    display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        margin-right: 40px;
                    
                        input[type="checkbox"] {
                            accent-color:#F4BB15;
                            color: white;
                            }
    
                        h4 {
                            margin-left: 4px;
                        }
                }

                p {
                    text-transform: uppercase;
                    margin-top: 3px;
                    max-width: 150px;
                }
            }
        }

        .mandate-card {
            display: flex;
            flex-direction: column;

            div {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;

                label {
                    text-transform: uppercase;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 10px;
                    line-height: 165%;
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    color: #616161;
                    max-width: 250px;
                    margin-right: 20px;
                }

                h4 {
                    margin-right: 30px;
                }
            }

            .mandatecard-pics {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                margin-bottom: 20px;

                .rec {
                    width: 92px;
                    height: 94px;
                    background: #F9F8F8;
                    border-radius: 2px;
                    margin-top: 12px;
                    img {
                        position: absolute;
                        width: 76px;
                        height: 96px;
                        margin-bottom: 20px;
                    }
                    .span1 {
                        .rec1 {
                            position: absolute;
                            width: 80px;
                            height: 80px;
                            background: #0A1F44;
                            opacity: 0.58;
                            margin-top: 10px;
                            margin-left: 5px;

                            .eagle {
                                position: absolute;
                                font-size: 22px;
                                color: white;
                                margin-top: 30px;
                                margin-left: 25px;
                            }
                        }
                    }

                    
                }

                .span2 {
                    width: 92px;
                    height: 94px;
                    background: #F9F8F8;
                    border-radius: 2px;
                    margin-left: 40px;
                    margin-top: 15px;

                    .rec2 {
                        position: absolute;
                        width: 80px;
                        height: 80px;
                        background: #0A1F44;
                        opacity: 0.58;
                        margin-top: 10px;
                        margin-left: 5px;
                    }

                    .eagle {
                        position: absolute;
                        font-size: 22px;
                        color: white;
                        margin-top: 35px;
                        margin-left: 32px;
                    }
                }
            }
        }
    }

        // .form-but {
        //     display: flex;
        //     flex-direction: row;
        //     flex-wrap: nowrap;
        //     float: right;
        //     margin-right: 98px;
        //     padding: 10px;

        //     .genAcc {
        //         box-sizing: border-box;
        //         width: 128px;
        //         height: 33px;
        //         border: 1px solid #F4BB15;
        //         border-radius: 4px;
        //         font-family: 'Inter';
        //         font-style: normal;
        //         font-weight: 500;
        //         font-size: 10px;
        //         line-height: 165%;
        //         display: block;
        //         margin: auto;
        //         text-transform: uppercase;
        //         color: #F4BB15;
        //     }

        //     .nextBut {
        //         width: 128px;
        //         height: 33px;
        //         background: #F4BB15;
        //         border-radius: 4px;
        //         font-family: 'Inter';
        //         font-style: normal;
        //         font-weight: 600;
        //         font-size: 10px;
        //         line-height: 165%;
        //         display: block;
        //         margin: auto;
        //         text-transform: uppercase;
        //         color: #FFFFFF;
        //         border: none;
        //         margin-left: 15px;
        //         cursor: pointer;
        //     }
        // }
    }
}