.home {
    background: #E5E5E5;
    width: 100%;
    height: 90vh;

    .hom {
        display: flex;
        justify-content: center;
        align-items: center;
        .home-sub {
            width: 400px;
            height: 415px;
            border-radius: 8px;
            background: white;
            margin-top: 100px;

            .new-acc {
                font-style: normal;
                font-weight: 700;
                font-size: 17.7559px;
                line-height: 165%;
                color: #565656;
                text-align: center;
                margin-top: 20px;
            }

            .line {
                width: 444px;
                height: 0px;
                border: 0.710236px solid #E5E5E5;
                display: block;
                margin: auto;
                margin-top: 15px;
            }

            .home-link {
                display: block;
                margin: auto;
                margin-top: 40px;

                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        list-style-type: none;

                        a {
                            text-decoration: none;

                            .individualAccount {
                                display: flex;
                                flex-direction: row;
                                flex-wrap: nowrap;
                                box-sizing: border-box;
                                width: 192px;
                                height: 69px;
                                background: #FFFDF7;
                                border: 0.621457px solid #F4BB15;
                                border-radius: 3.55118px;

                                .individual {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-evenly;
                                    margin-top: 11px;

                                    .circle {
                                        box-sizing: border-box;
                                        width: 10.65px;
                                        height: 10.65px;
                                        background: #FFFFFF;
                                        border: 2.66339px solid #F4BB15;
                                    }

                                    h5 {
                                        font-family: 'Manrope';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 8.87795px;
                                        line-height: 165%;
                                        display: flex;
                                        align-items: center;
                                        text-align: center;
                                        color: #A2A2A2;
                                    }
                                }
                            }
                        }
                    }
                }

            }
            h4 {
                width: 370px;
                display: block;
                margin: auto;
                text-align: center;
                line-height: 165%;
            }

            .formInput {
                margin: 15px;
                input {
                    width: 353px;
                    height: 34px;
                    border: 0.644957px solid #E5E5E5;
                    border-radius: 5.32677px;
                    display: block;
                    margin: auto;
                    padding: 12px;
                }
            }

            
            .but {
                margin: 15px;
                button {
                    width: 174.9px;
                    height: 36.4px;
                    background: #F4BB15;
                    border-radius: 8px;
                    border: none;
                    color: white;
                    display: block;
                    margin: auto;
                    padding: 12px;
                }
            }
            
        }
    }
}